<footer class="footer" [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  
  <div class="container">
    <div class="row row-grid align-items-center" [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
        <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <a target="_blank" href="https://twitter.com/puneeth951" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" ngbTooltip="Follow us">
          <i class="fa fa-twitter"></i>
        </a>
        <a target="_blank" href="https://www.facebook.com/reddyvari.puneeth?ref=bookmarks" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" ngbTooltip="Like us">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/puneethreddyhc" class="btn btn-neutral btn-icon-only btn-twitter btn-lg btn-round" ngbTooltip="Follow us">
          <i class="fa fa-linkedin-square"></i>
        </a>
        <a target="_blank" href="https://github.com/puneethreddyhc" class="btn btn-neutral btn-icon-only btn-github btn-round btn-lg" ngbTooltip="Star on Github">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{test | date: 'yyyy'}}
          <a href="https://github.com/puneethreddyhc" target="_blank">PuneethReddyHC</a>.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a href="https://github.com/puneethreddyhc" class="nav-link" target="_blank">PuneethReddyHC</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/puneethreddyhc" class="nav-link" target="_blank">Github</a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/puneethreddyhc" class="nav-link" target="_blank">Linkedin</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/puneethreddyhc" class="nav-link" target="_blank">MIT License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
